@use '../base'

%base
  @extend .hover-acrylic
  padding: 5px 20px
  min-width: 120px

.primary
  @extend %base

.secondary
  @extend %base

.danger
  @extend %base
  background-color: #ff200060
  border-color: #ff2000c0

  &:hover
    background-color: #ff200090