/* @import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap'); */
@import "tailwindcss";
@import '@/styles/fonts.sass';

@theme {
  --breakpoint-xs: 30rem;

  --font-sans: spiegel, sans-serif;
  --font-serif: beaufort, serif;

  --color-blue-1: #CDFAFA;
  --color-blue-2: #0AC8B9;
  --color-blue-3: #0397AB;
  --color-blue-4: #005A82;
  --color-blue-5: #0A323C;
  --color-blue-6: #091428;
  --color-blue-7: #0A1428;

  --color-gold-1: #F0E6D2;
  --color-gold-2: #C8AA6E;
  --color-gold-3: #C8AA6E;
  --color-gold-4: #C89B3C;
  --color-gold-5: #785A28;
  --color-gold-6: #463714;
  --color-gold-7: #32281E;

  --color-grey-1: #A09B8C;
  --color-grey-1-5: #5B5A56;
  --color-grey-2: #3C3C41;
  --color-grey-3: #1E2328;
  --color-grey-cool: #1E282D;
  --color-hextech-black: #010A13;
}